
 *{
  margin: 0;
  padding: 0;
 }

 #root{
  display: flex;
  flex-direction: row;
  height: 100vh;
  flex-wrap: wrap;
  padding: 15px;

 }



 

 .box{
  width: 200px;
  height: 250px;
  border: solid black ;
  margin: 30px 50px;
  
  
 }

.box img{
  width: 100%;
  height: auto;
}

.box h3 , .box p{
  margin: 10px;
}
  
.list{
  list-style: none;
}